
<ng-template #loading>
  <div class="alert alert-info text-center">
    <h2> Cargando... </h2>
  </div>
</ng-template>

<div *ngIf="country; else loading">
  <div class="row">
    <div class="col-12">
      <h4><strong>{{ country.name.common }}</strong></h4>
      <hr>
    </div>
  </div>

  <div class="row">
    <div class="col-4">
      <h5>Bandera</h5>
      <img [src]="country.flags.svg" [alt]="country.name.common" class="img-fluid">
    </div>
    <div class="col">
      <h5>Detalles</h5>

      <ul class="list-group">
        <li class="list-group-item">
          <div class="row">
            <div class="col-4">Población:</div>
            <div class="col"><strong>{{ country.population | number }} habitantes</strong></div>
          </div>
        </li>

        <li class="list-group-item">
          <div class="row">
            <div class="col-4">Código:</div>
            <div class="col"><strong>{{ country.cca3 }}</strong></div>
          </div>
        </li>

        <li class="list-group-item">
          <div class="row">
            <div class="col-4">Capital:</div>
            <div class="col"><strong>{{ country.capital }}</strong></div>
          </div>
        </li>

        <li class="list-group-item">
          <div class="row">
            <div class="col-4">Región:</div>
            <div class="col"><strong>{{ country.region }}</strong></div>
          </div>
        </li>

        <li class="list-group-item">
          <div class="row">
            <div class="col-4">Subregión:</div>
            <div class="col"><strong>{{ country.subregion }}</strong></div>
          </div>
        </li>

        <li class="list-group-item">
          <div class="row">
            <div class="col-4">Área:</div>
            <div class="col"><strong>{{ country.area | number }} km²</strong></div>
          </div>
        </li>

        <li class="list-group-item">
          <div class="row">
            <div class="col-4">Nombre oficial:</div>
            <div class="col"><strong>{{ country.name.official }}</strong></div>
          </div>
        </li>
      </ul>

    </div>
  </div>

  <div class="row mt-2">
    <div class="col">
      <h5>Traducciones</h5>

      <div class="d-flex flex-wrap">

        <span class="badge bg-primary m-1"> {{ country.translations['spa'].common }} </span>
        <span class="badge bg-primary m-1"> {{ country.translations['por'].common }} </span>
        <span class="badge bg-primary m-1"> {{ country.translations['fra'].common }} </span>
        <span class="badge bg-primary m-1"> {{ country.translations['ita'].common }} </span>
        <span class="badge bg-primary m-1"> {{ country.translations['deu'].common }} </span>
        <span class="badge bg-primary m-1"> {{ country.translations['nld'].common }} </span>
        <span class="badge bg-primary m-1"> {{ country.translations['rus'].common }} </span>

        <span class="badge bg-primary m-1"> {{ country.translations['jpn'].common }} </span>
        <span class="badge bg-primary m-1"> {{ country.translations['kor'].common }} </span>
        <span class="badge bg-primary m-1"> {{ country.translations['zho'].common }} </span>

        <span class="badge bg-primary m-1"> {{ country.translations['ara'].common }} </span>

      </div>

    </div>

  </div>

</div>
