<span class="h2">Por región </span>
<hr>

<div class="row">
  <div class="col text-center">

    <button
      *ngFor="let region of getRegions()"
      (click)="searchCountries(region)"
      class="btn mx-2"
      [ngClass]="{ 'btn-outline-primary': region === selectedRegion}"
      >
      {{ region }}
    </button>

  </div>

</div>

<div class="row">
  <div class="col">

    <hr>
    <shared-loading-spinner *ngIf="isLoading"></shared-loading-spinner>
    <countries-table [countries]="countries"></countries-table>

  </div>

</div>
